* {
    font-family: Arial;
}

.header {
    background-color: whitesmoke;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(39, 38, 38);
}

a {
    text-decoration: none;
    color: black;
}

.nav-search {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.search input {
    width: 600px;
    height: 40px;
    margin-left: 0px;
    border: none;
}

.icon {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid black;
}



.log_in a {
    color: #6d28d2;
    font-weight: bolder;
}

.sign_up {
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #6d28d2;
    background-color: #6d28d2;
    border-radius: 7px;
}

.sign_up a {
    color: white;
    font-weight: bolder;
}

.border {
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.log_in {
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #6d28d2;
    border-radius: 7px;
}
.border:hover {
    border: 1px solid black;
    /* border-radius: 7px; */
    height: 45px;
}
