* {
    font-family: Arial;
}

body {
    background-color: rgba(245, 241, 238, 0.68);
}

.header {
    background-color: whitesmoke;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(39, 38, 38);
}

a {
    text-decoration: none;
    color: black;
}

.nav-search {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.search input {
    width: 600px;
    height: 40px;
    margin-left: 0px;
    border: none;
}

.icon {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid black;
}



.log_in a {
    color: #6d28d2;
    font-weight: bolder;
}

.sign_up {
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #6d28d2;
    background-color: #6d28d2;
    border-radius: 7px;
}

.sign_up a {
    color: white;
    font-weight: bolder;
}

.border {
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.log_in {
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #6d28d2;
    border-radius: 7px;
}
.border:hover {
    border: 1px solid black;
    /* border-radius: 7px; */
    height: 45px;
}

.hero {
    background-image: url("hero_image_02.jpg");
    background-size: cover;
    width: 1280px;
    height: 380px;
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.link {
    width: 250px;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1.5px solid #6d28d2;
    background-color: #6d28d2;
    border-radius: 7px;
    justify-content: center;
}

.link a {
    color: white;
    font-weight: bolder;
}

.link:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 7px;
}

.box {
    margin-left: 100px;
    background-color: white;
    width: 340px;
    height: 200px;
    padding: 30px;
    border: 2px dashed black;
    border-radius: 10px;
}

.title {
    font-size: 25px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 15px;
}

.description {
    font-size: 17px;
    color: rgb(40, 40, 40);
    margin-bottom: 30px;
}

.main {
    padding: 80px;
    padding-top: 40px;
    
    
}

.main p {
    font-size: 20px;
    color: rgba(71, 62, 62, 0.799);
    margin-bottom: 30px;
}

.courses {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    padding-top: 5px;
    margin-bottom: 80px;
}

.box1_img {
    background-image: url("box_1.webp");
    background-size: cover; ;
    width: 365px;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 50px;
}

.box2_img {
    background-image: url("box_2.webp");
    background-size: cover;
    width: 365px;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 50px;
}

.box3_img {
    background-image: url("box_3.webp");
    background-size: cover;
    width: 365px;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 50px;
}

.buttons {
    display: flex;
    align-items: center;
}

.end_button {
    border: 0.8px solid rgba(64, 69, 105, 0.703);
    border-radius: 5px;
    width: 59px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    color: rgb(119, 112, 112);
}

.rating {
    border: 0.8px solid rgba(64, 69, 105, 0.703);
    border-radius: 5px;
    width: 130px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(119, 112, 112);
}

.course_box {
    width: 400px;
    height: 350px;
    background-color: white;
    padding-top: 26px;
    padding-left: 26px;
    border: 0.5px solid rgba(116, 121, 106, 0.356);
    border-radius: 10px;
}

.course_box:hover {
    background-color: rgba(234, 241, 234, 0.591);
}

.about_udemy dt {
    font-size: 25px;
    font-weight: 800px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.about_udemy dd {
    font-size: 18px;
    margin-bottom: 40px;
    color: rgba(71, 62, 62, 0.799);
}

.about_udemy dl {
    padding-left: 50px;
}

.subscription {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    /* margin-bottom: 70px; */
}

.plans {
    margin-left: 25px;
    margin-left: 25px;
    background-color: white;
    border: 1.5px solid rgba(87, 87, 147, 0.813);
    width: 400px;
    height: 600px;
    border-radius: 10px;
    border-top: 5px solid rgba(50, 50, 227, 0.934);
}

.plans i, p {
    display: inline;
    margin-left: 10px;
}

.top {
    padding-left: 60px;
    padding-top: 10px;
    border-bottom: 1.5px solid black;
    padding-bottom: 25px;
    background-color: rgba(206, 206, 220, 0.587);
}

.top h5 {
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 13px;
    color: rgba(71, 70, 70, 0.774);
    margin-top: 0px;
}

.top h4 {
    margin-bottom: 8px;
}

.sub {
    padding: 15px;
    padding-top: 25px;
}

.sub li {
    margin-bottom: 15px;
    color: rgba(42, 30, 64, 0.719);
}

.plans:hover {
    background-color: rgba(175, 175, 182, 0.331);
}

.main {
    padding-bottom: 0px;
}

.footer {
    background-color: #202230;
    height: 200px;
    margin-top: 0px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.about {
    color: white;
    font-size: 17px;
}

.about a {
    color: rgb(255, 255, 255);
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
}

.about a:hover {
    text-decoration: underline;
    color: rgb(225, 220, 220);
}

.end_code {
    background-color: #2A2B3F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    text-align: center;
    
}

.end_code p {
    color: rgb(152, 166, 173);
    display: block;
    margin-bottom: 0px;
    margin-top: 8px;
}